body
{
    background-color:lightblue;
	background-image:url(space.jpg);
	background-position:center;
	background-size:cover;
	background-blend-mode:light;
}
html,body{
height:100%;
}
.head{
	width:440px;
	height:500px;
	margin:auto;
	color:white;
	font-family: comic sans ms;
	border:2px solid white;
	background-color:rgba(255,255,255,0);
	font-size:16pt;
    padding:10px;
   
	top:0px;bottom:0px;right:0px;left:0px;
}
.register1
{
	margin:5px auto;
	
	display:block;
	width:220px;
	height:35px;
	border:3px solid white;
	background-color:rgba(255,255,255,0);
	color:white;
	font-family:comic sans ms;
	font-weight:bold;
	border-radius:10px;
	font-size:13pt;
	transition:background-color 1000ms,color 1000ms;
	
	
}

.register1:hover{
	background-color:rgba(255,255,255,1);
	color:#222;
	cursor:pointer;
	transition:background-color 1000ms,color 1000ms;
	
}
